div.crm-container label {
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
}

.fc-button {
    background: #e6e6e6 url(/sites/default/files/civicrm/ext/com.agiliway.civicalendar/img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    line-height: 26px;
    height: 28px !important;
    font-size: 0.9em !important;
    border-radius: 4px;
    font-family: Georgia, "Times New Roman", Times, serif !important;;
}

.fc-toolbar .fc-center > h2 {
    font-size: 19px;
}

.calendar_item_types {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.styled_checkbox {
    position: absolute;
    opacity: 0;
}

.styled_checkbox + span {
    padding-top: 0.1em;
    position: relative;
    cursor: pointer;
}

.styled_checkbox + span:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
}

.styled_checkbox[type="checkbox"]:not(:checked) + span, .styled_checkbox[type="checkbox"]:checked + span {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

.styled_checkbox[type="checkbox"]:not(:checked) + span:before, .styled_checkbox[type="checkbox"]:checked + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

.styled_checkbox[type="checkbox"]:not(:checked) + span:after {
    opacity: 0;
    transform: scale(0);
}

.styled_checkbox[type="checkbox"]:not(:checked) + span:after, .styled_checkbox[type="checkbox"]:checked + span:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 9px;
    font-size: 1em;
    line-height: 0.8;
    transition: all .2s;
    width: 3px;
    height: 8px;
    transform: translate(-50%,-50%) rotate(218deg);
    border-top: 2px solid;
    border-left: 2px solid;
}

.cases_checkbox[type="checkbox"]:not(:checked) + span:before, .cases_checkbox[type="checkbox"]:checked + span:before {
    border: 2px solid #ffa3a3;
}

.cases_checkbox[type="checkbox"]:not(:checked) + span:after, .cases_checkbox[type="checkbox"]:checked + span:after {
    color: #ffa3a3;
    border-color: #ffa3a3;
}

.activities_checkbox[type="checkbox"]:not(:checked) + span:before, .activities_checkbox[type="checkbox"]:checked + span:before {
    border: 2px solid #F7CF5D;
}

.activities_checkbox[type="checkbox"]:not(:checked) + span:after, .activities_checkbox[type="checkbox"]:checked + span:after {
    color: #F7CF5D;
    border-color: #F7CF5D;
}

.events_checkbox[type="checkbox"]:not(:checked) + span:before, .events_checkbox[type="checkbox"]:checked + span:before {
    border: 2px solid #35D0AE;
}

.events_checkbox[type="checkbox"]:not(:checked) + span:after, .events_checkbox[type="checkbox"]:checked + span:after {
    color: #35D0AE;
    border-color: #35D0AE;
}

.add__ev__wrap {
    position: relative;
}

.add__ev__wrapper {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 3px;
}

.add-button-icon {
    width: 1.4em;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.add-button {
    display: inline-block;
    color: #43B05C;
    cursor: pointer;
    height: 25px;
}

.add-button-open {
    position: absolute;
    top: 25px;
    z-index: 10;
    padding: 3px 20px;
    background: white;
    box-shadow: 0 0 10px;
}

.add-button-open a {
    color: black !important;
}

.arrow-button-icon {
    width: 1em;
}

.fc-title {
    color: black !important;
    padding-left: 3px;
}

.fc-time {
    color: black !important;
}

.fc-agendaWeek-view .fc-time-grid-event .fc-content,
.fc-agendaDay-view .fc-time-grid-event .fc-content {
    line-height: 1.85em;
}

.fc-agendaWeek-view .fc-time-grid-event .fc-content .fc-title,
.fc-agendaDay-view .fc-time-grid-event .fc-content .fc-title,
.fc-agendaWeek-view .fc-time-grid-event .fc-content .fc-time,
.fc-agendaDay-view .fc-time-grid-event .fc-content .fc-time {
    font-size: 1em;
}

.fc-day-grid-event.fc-h-event {
    display: flex;
}

.fc-day-grid-event.fc-h-event.fc-event {
    border-radius: 3px;
    border-top-color: #f2f0f0 !important;
    border-right-color: #f2f0f0 !important;
    border-bottom-color: #f2f0f0 !important;
    border-left: 3px solid;
    background-color: #f2f0f0 !important;
}

.overlay-mode .fc-day-grid-event.fc-h-event .fc-content {
    display: grid;
}

.fc-month-view .fc-day-grid-event .fc-content .fc-time {
    font-weight: 400;
}

.overlay-mode .fc-day-grid-event.fc-h-event .fc-content .circular {
    vertical-align: -webkit-baseline-middle;
    vertical-align: baseline;
}

table.contact-filter-conteiner {
    width: 50% !important;
}

table.contact-filter-conteiner .select2-container {
    width: 100% !important;
}

.contact-filter .selected-contact-wrapper {

}

.contact-filter .selected-contact-wrapper .selected-row {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2px;
    align-items: center;
}

.contact-filter .selected-contact-wrapper .selected-row > div {
    display: inline-block;
    vertical-align: top;
}

.contact-filter .selected-contact-wrapper .selected-row .contact-value {
    margin-right: 5px;
}

.contact-filter .selected-contact-wrapper .selected-row .contact-value > div {
    line-height: 16px;
}

.contact-filter .selected-contact-wrapper .selected-row .person-image {
    text-align: center;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.contact-filter .del {
    float: right;
}

.person-image span {
    line-height: 32px;
}

.overlay-mode .fc-day-grid-event .person-image {
    text-align: center;
}

.contact-filter .selected-contact-wrapper .selected-row .checkbox-subrow input {
    vertical-align: -webkit-baseline-middle;
}

.fc-agendaWeek-view .fc-time-grid-event,
.fc-agendaDay-view .fc-time-grid-event {
    min-height: 22px;
}

.fc-month-view .fc-day-grid-event[style*="background-color:#ccc;border-color:#ff0000"],
.fc-agendaWeek-view .fc-time-grid-event[style*="background-color: rgb(255, 0, 0); border-color: rgb(255, 0, 0)"],
.fc-agendaDay-view .fc-time-grid-event[style*="background-color: rgb(255, 0, 0); border-color: rgb(255, 0, 0)"],
.fc-list-view .fc-list-item-marker.fc-widget-content .fc-event-dot[style="background-color:#ff0000"] {
    background-color: #fca2a4 !important;
    border-color: #fca2a4 !important;
}

.tabsBlockContent .add__ev__wrapper {
    display: inline-block;
    margin-bottom: 10px;
}

.tabsBlockContent .calendar_item_types {
    float: right;
    display: inline-block;
    padding-top: 5px;
}

.tabsBlockContent .fc-header-toolbar .fc-left,
.tabsBlockContent .fc-header-toolbar .fc-right {
    margin: 10px 0;
}

.tabsBlockContent .fc-header-toolbar {
    margin-bottom: 10px;
    width: 100%;
    content: "";
    clear: both;
    display: table;
}

.tabsBlockContent .fc-header-toolbar .fc-center {
    display: block;
}

.tabsBlockContent .fc-header-toolbar .fc-center h2 {
    width: 100%;
}

td.fc-widget-header,
th.fc-widget-header {
    font-weight: 400;
    color: #000000;
}

div.fc-widget-header > table {
    margin: 0;
}

div.fc-widget-header > table th {
    padding: 5px 0;
}

.ui-tabs-panel .tabsBlockContent .fc-header-toolbar .fc-center,
.tabsBlockContent .fc-header-toolbar .fc-center {
    display: inline-block;
    margin-top: 10px;
}

/*bootstrap 3 popover*/
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto
}

.popover.top {
    margin-top: -10px
}

.popover.right {
    margin-left: 10px
}

.popover.bottom {
    margin-top: 10px
}

.popover.left {
    margin-left: -10px
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.popover-content {
    padding: 9px 14px
}

.popover > .arrow, .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.popover > .arrow {
    border-width: 11px
}

.popover > .arrow:after {
    content: "";
    border-width: 10px
}

.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0
}

.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0
}

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0
}

.popover.right > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0
}

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25)
}

.popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25)
}

.popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff
}